services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api
    ports:
      - '3000:3000'
    env_file:
      - .env
    volumes:
      - uploads_data:/usr/src/app/uploads
    depends_on:
      - db
    networks:
      - instalaciones_network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin
    restart: always
    depends_on:
      - db
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_ARBITRARY: 0
    ports:
      - '8081:80'
    networks:
      - instalaciones_network

  db:
    image: mysql:8.0
    restart: always
    env_file:
      - .env
    ports:
      - '3306:3306'
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - instalaciones_network

volumes:
  db_data:
  uploads_data:

networks:
  instalaciones_network:
    external: true
    name: instalaciones_network