services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    env_file:
      - .env
    volumes:
      - .:/usr/src/app
    depends_on:
      - db
    networks:
      - instalaciones_network

  db:
    image: mysql:8.0
    restart: always
    env_file:
      - .env
    ports:
      - '3306:3306'
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - instalaciones_network

volumes:
  db_data:

networks:
  instalaciones_network:
    driver: bridge